$main-color: #006ab1;
$border-radius: 10px;

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  line-height: 1.5;
  color: #000;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  border-radius: $border-radius;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 200px;
  background: #eff7ff;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #073673;
}
#sidebar ul li a.active {
  background-color: #0d599e;
  color: #fff;
}
#sidebar ul li a:hover {
  color: #0d599e;
  background: #fff;
  text-decoration: none;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}
.main {
  padding: 15px;
}

.navbar-brand img{
  width: 120px;
  margin: -25px 10px;
}
/* */
.menu-nav {
  background-color: #073673;
  padding: 25px 0;
}
.menu-nav a {
  color: #fff;
}
.menu-nav a.active {
  background-color: initial !important;
  color: #a9c4ff !important;
}

input.search {
  background: #7690b2;
  border: none;
}

input.search.form-control::placeholder {
  color: #fff;
}
h1.h1 {
  font-weight: bold;
  margin-top: 120px;
  margin-bottom: 30px;
}

h1 {
  color: #006ab1;
}
form .form-control {
  border-color: #006ab1;
  padding-left: 25px;
}

form .form-control, .btn {
  border-radius: $border-radius;
  height: 50px;
}

textarea.form-control {
  height: 150px;
}

form .form-control::placeholder {
  color: #006ab180;
}

.btn.btn-primary {
  opacity: 1;

  &:hover {
    text-decoration: underline;
  }
}
.btn[disabled] {
  background-color: #006ab1;
  opacity: 0.2;
}
.btn[type=submit] {
  width: 200px;
  color: #fff;
  text-decoration: none;
}
.btn-link, .btn-primary {
  color: #006ab1;
  vertical-align: baseline;
}
.text-underline {
  text-decoration: underline;
}

/* profile */
.profile {
  .showmore {
    opacity: 0.8;
    margin: 20px 0;
  }
  .photo {
    background: #006ab1;
    width: 100%;
    height: 330px;
    border-radius: $border-radius;
    cursor: pointer;
    background: url('/img/profileimg.png');
    background-size: auto;
    background-repeat: round;
  }
  .friends {
    padding: 10px;
    p{
      color: $main-color;
      font-size: 15px;
      line-height: 1.1;
    }
    border: 1px solid $main-color;
    border-radius: $border-radius;

    .img {
      border-radius: 50%;
      background: $main-color;
      width: 30px;
      height: 30px;
      float: left;
      margin-right: 15px;
    }
  }
  .mini-stat {
    color: $main-color;
    span{
      font-size: 13px;
      display: block;
      margin-top: -5px;
    }
  }
  .posts {
    color: $main-color;
  }
}

.color-main {
  color: $main-color !important;
}
.inner-header {
  color: #000;
  margin: 20px 0;
  font-weight: bold;
}
.mini-placeholder {
  font-size: 12px;
}
.flag-select {
  height: 50px;
  position: relative;
  z-index: 22;
  width: 80px;

  .selected--flag--option {
    height: 33px;
  }

  img {
    height: 100%;
  }

  .flag-options {
    width: 50px;
    img {
      width: 100%;
    }
  }
}
.p-card {
  .info {
    margin: 30px 0 15px 0;
    font-weight: bold;
  }

  .tag {
    position: absolute;
    right: 15px;
    background: #fff;
    margin-top: 15px;
    padding: 5px 15px;
    color: $main-color;
    font-weight: bold;
  }

  .showmore {
    color: $main-color;
    opacity: 0.6;
    cursor: pointer;
  }

  .friends {
    padding: 10px;
    p{
      color: $main-color;
      font-size: 15px;
      line-height: 1.1;
    }
    border: 1px solid $main-color;
    border-radius: $border-radius;

    .img {
      border-radius: 50%;
      background: $main-color;
      width: 30px;
      height: 30px;
      float: left;
      margin-right: 15px;
    }

    &.big {
      border-width: 3px;

      .head {
        font-size: 17px;
        margin: 10px 0 25px 0;
      }

      p {
        font-size: 14px;
      }
      .card-subtitle {
        opacity: 0.6;
        margin-top: 0;
      }
    }
  }
}

.votes {
  .vote-block {
    margin: 20px 0;

    .show-all {
      margin: 10px 0 20px 0;
    }
    p {
      margin-top: 5px;
      font-size: 14px;

      &.sub {
        opacity: 0.5;
        margin: 0;
      }
    }
    .col {
      text-align: center;
    }

    .img {
      background: #a9c4ff;
      width: 100%;
      height: 100px;
    }
  }
}
